$primary-color: #ffe4c4;
$secondary-color: #438da3;
$background-color: #66948a;
$border-color: #58504b;
$nav-bar-color: #4f677e;
$body-color: #1b1a53;

@mixin rounded-border($radius) {
  border-radius: $radius;
  box-shadow: 0px 2px 8px $body-color;
}

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $body-color;
  color: $primary-color;
}

main {
  background-color: $nav-bar-color;
}

.profile-image {
  @include rounded-border(0.5rem);
  height: 18rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $secondary-color;
  background-color: $nav-bar-color;
  box-shadow: 0px 2px 8px;
}

.nav-name {
  margin-left: 1rem;
}

.nav-menu {
  display: flex;
}

.nav-menu > p {
  padding: 1rem;
  margin-right: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  box-shadow: 0px 2px 8px $body-color;
  background-image: url('./images/background-mountains.jpg');
  background-repeat: round;
}

.name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
}

.name-title > h1 {
  margin: 2rem;
}

.name-title > h3 {
  margin-top: 2rem;
}

.name-title > div > a {
  padding: 1rem;
  color: $secondary-color;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contact-me > a {
  margin: 1rem;
  color: $secondary-color;
}

.contact-me > a:hover {
  color: #775757;
}

.name-title > div > a:hover {
  color: #775757;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
